@import "tailwindcss";

:root {
  --background: #F8F8F8;
  --extra-large: 20px;
  --large: 18px;
  --medium: 16px;
  --content: 14px;
  --font-sans: var(--font-poppins);
  --primary: #822BE2;
}

.font-extra-large {
  font-size: var(--extra-large);
}
.font-large {
  font-size: var(--large);
}
.font-content {
  font-size: var(--content);
}
.font-medium {
  font-size: var(--medium);
}
.btn-color{
  background-color: var(--primary);
}


body {
  background: var(--background);
  font-family: var(--font-sans), sans-serif;
  color: var(--foreground);
}
